<p>We're so happy that you've joined OdinBook, <%= @first_name %>!<p>

<p>I wrote this app as a task in the "Ruby on Rails" course for The Odin Project.<p>

<p>To get started with OdinBook, visit the User Index page: <%= profiles_url %> to follow other members. Once they accept your follow request, you can see their posts and their profile, and they can comment on your posts as you can on theirs.<p>

<p>You can also Like posts and comments, and Reply to other comments.</p>

<p>Happy OdinBooking!</p>
