<div>
  <% if current_user.followed_users.count.zero? %>
    <p>Visit the <%= link_to "User Index", profiles_path %> page to follow other users!</p>
  <% else %>
    <div>
      <% unless current_user.followed_users.where(follows: { status: "accepted_follow" }).count.zero? %>
        <div class="follower-heading">Following</div>
        <% current_user.followed_users.where(follows: { status: "accepted_follow" }).each do |follower| %>
          <%= render partial: "followers/follower_button", locals: { follower: follower } %>
        <% end %>
      <% else %>
        Your followed users will appear here once they accept your request.
      <% end %>
    </div>
  <% end %>
  
  <% unless current_user.following_users.where(follows: { status: "accepted_follow" }).count.zero? %>
    <div class="follower-heading">Followers</div>
    <% current_user.following_users.where(follows: { status: "accepted_follow" }).each do |follower| %>
      <%= render partial: "followers/follower_button", locals: { follower: follower } %>
    <% end %>
  <% end %>
</div>